<div class="popup">
    <h2>Flag</h2>

    <p>IP Adresse : {{ data[0].ip }}</p>

    <div *ngIf="data[0].ip">
        <ul>
            <li>
                <strong>MAC Adress :</strong>{{ data[0].mac_adress }}
            </li>
            <li>
                <strong>Nom de machine :</strong>{{ data[0].nom_machine }}
            </li>
            <li>
                <strong>Nom d'utilisateur :</strong>{{ data[0].nom_utilisateur }}
            </li>
        </ul>
    </div>

    <button mat-button (click)="close()">Fermer</button>
</div>