<div class="tableau-container">
    <h2>Tableau des données sélectionnées</h2>
    <table>
        <tr>
            <th>IP</th>
            <th>Protocole</th>
            <th>Timestamp</th>
            <th>Vérification VirusTotal</th>
            <th>Informations sur la cible</th>
        </tr>
        <tr *ngFor="let entry of data">
            <td>{{ entry.source_ip }}</td>
            <td>{{ entry.protocol }}</td>
            <td>{{ entry.timestamp }}</td>
            <td><button (click)="openVirusTotal(entry.source_ip)">Vérification</button></td>
            <td><button>Informations</button></td>
        </tr>
    </table>
</div>